@import "./mixins";
@import "./Utils/variables";

body {
    width: 80%;
    height: 70%;
font-size: map-get($map:$taille-police, $key:corps);
}
header {
    text-shadow: 10px 5px blue;
    border: 2px solid black;
    border-radius: 1%;
    background-color: rgb(241, 114, 100);
    color: blueviolet;
    color-adjust: ;
   
}



h1 {
    background-color: yellow;
    display: block;
    text-align: center;
    font-size: map-get($map:$taille-police, $key:grostitre);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    @include mobile-first {
        font-size: 2em;
        color: yellowgreen;
        background-color: red;
    }
    @include tablet-second {
        text-decoration: underline;
        color: gold;
    }

}
p {
     @include configtxt(green, 3em, 50%);
     text-align: center;
}
h2 {
    @extend p;
    text-decoration: underline;
}
